extends layout.pug
block content
  body
  style.
            #map{
                width: 100%;
                height: 100%;
            }
  h1.mt-4.mb-4
    | 
    large  #{parks.name} National Park
  img.img-fluid.rounded.mb-4(src=parks.image_link alt='')
  .row
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Description
        .card-body
          p.card-text
            | #{parks.description}
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Statistics
        .card-body      
          p.card-text
            | Date Established: #{parks.established_date}
          p.card-text
            | Area: #{parks.area}
          p.card-text
            | Yearly Visitors: #{parks.yearly_visitors}
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Latest Park Information
        a.twitter-timeline(href='https://twitter.com/' + parks.twitter_id data-tweet-limit='1' data-width='399')
        script(async='' src='http://platform.twitter.com/widgets.js' charset='utf-8')



    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Weather
        p 
          | #{parks.name}
          | #{parks.location}
          
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Google Map
        #map
        script.
            function initMap() {
                var mapProp= {
                    center:new google.maps.LatLng( #{parks.location}),
                    zoom:5,
                };
                var map = new google.maps.Map(document.getElementById('map'), mapProp);
                var marker = new google.maps.Marker({
                  position:new google.maps.LatLng( #{parks.location}),
                  animation:google.maps.Animation.DROP
                });
                marker.setMap(map);             
                var marker1 = new google.maps.Marker({
                  position:new google.maps.LatLng( #{parks.location}),
                  animation:google.maps.Animation.DROP
                });
                marker1.setMap(map);                
            }
        script(async defer src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyAY25CaMHNKfL4UNNF0uOmRPruyRQL9N6g&callback=initMap`)



    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Comments
        .card-body
          // comment model
          #disqus_thread
            script.
              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              /*
              var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              */
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://parkreview.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            noscript
              | Please enable JavaScript to view the 
              a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.