html
	head
		style.
			#map{
				width: 50%;
				height: 500px;
			}

	body
		h1 Hello!
		p Park Name: #{parks.name}!
		p Image Link: #{parks.image_link}
		p Location: #{parks.location}

		h3 Parks

		#map

		script.
			function initMap() {
				var mapProp= {
					center:new google.maps.LatLng( #{parks.location}),
					zoom:15,
				};
				var map = new google.maps.Map(document.getElementById('map'), mapProp);

				var marker = new google.maps.Marker({
				  position:new google.maps.LatLng( #{parks.location}),
				  animation:google.maps.Animation.DROP
				});

				marker.setMap(map);				
				var marker1 = new google.maps.Marker({
				  position:new google.maps.LatLng( #{parks.location}),
				  animation:google.maps.Animation.DROP
				});

				marker1.setMap(map);				
			}

		script(async defer src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyAY25CaMHNKfL4UNNF0uOmRPruyRQL9N6g&callback=initMap`)
